<div class="photos-container">
  <div class="photo-pane pane0" [ngStyle]="{'background-image': 'url(' + photoUrls[0] + ')'}"></div>
  <div class="photo-pane pane1" [ngStyle]="{'background-image': 'url(' + photoUrls[1] + ')'}"></div>
  <div class="photo-pane pane2" [ngStyle]="{'background-image': 'url(' + photoUrls[2] + ')'}"></div>
  <div class="photo-pane pane3" [ngStyle]="{'background-image': 'url(' + photoUrls[3] + ')'}"></div>
  <div class="photo-pane pane4" [ngStyle]="{'background-image': 'url(' + photoUrls[4] + ')'}"></div>
  <div class="photo-pane pane5" [ngStyle]="{'background-image': 'url(' + photoUrls[5] + ')'}"></div>
  <div class="photo-pane pane6" [ngStyle]="{'background-image': 'url(' + photoUrls[6] + ')'}"></div>
  <div class="photo-pane pane7" [ngStyle]="{'background-image': 'url(' + photoUrls[7] + ')'}"></div>
  <div class="photo-pane pane8" [ngStyle]="{'background-image': 'url(' + photoUrls[8] + ')'}"></div>
  <div class="photo-pane pane9" [ngStyle]="{'background-image': 'url(' + photoUrls[9] + ')'}"></div>
  <div class="photo-pane pane10" [ngStyle]="{'background-image': 'url(' + photoUrls[10] + ')'}"></div>
  <div class="photo-pane pane11" [ngStyle]="{'background-image': 'url(' + photoUrls[11] + ')'}"></div>
  <div class="photo-pane pane12" [ngStyle]="{'background-image': 'url(' + photoUrls[12] + ')'}"></div>
  <div class="photo-pane pane13" [ngStyle]="{'background-image': 'url(' + photoUrls[13] + ')'}"></div>
  <div class="photo-pane pane14" [ngStyle]="{'background-image': 'url(' + photoUrls[14] + ')'}"></div>
  <div class="photo-pane pane15" [ngStyle]="{'background-image': 'url(' + photoUrls[15] + ')'}"></div>
  <div class="photo-pane pane16" [ngStyle]="{'background-image': 'url(' + photoUrls[16] + ')'}"></div>
  <div class="photo-pane pane17" [ngStyle]="{'background-image': 'url(' + photoUrls[17] + ')'}"></div>
  <div class="photo-pane pane18" [ngStyle]="{'background-image': 'url(' + photoUrls[18] + ')'}"></div>
  <div class="photo-pane pane19" [ngStyle]="{'background-image': 'url(' + photoUrls[19] + ')'}"></div>
</div>
