@import "../../../../theme/theme-variables";

.controller-container {
  color: $white;
  font-size: 2rem;
  box-sizing: border-box;
}

.control-button {
  &:hover {
    color: $gray-700;
  }
}

.start-button-wrapper,
.ranking-toggle-button-wrapper {
  display: inline-block;
}
