.home-container {
  position: relative;
}

.full-fill-wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
}

.ranking-container {
  top: 15vh;
}

.remaining-container {
  padding-top: 10vh;
  text-align: center;
  font-size: 1.75rem;
}
