@import "../../theme/theme-variables";

.home-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
}

.ranking-container {
  position: absolute;
  width: 100%;
  top: $sml-remaining-size * 1.5;
  bottom: 0;
  padding: 1rem;
  sml-ranking {
    height: 100%;
  }
}

.remaining-container {
  position: absolute;
  width: 100%;
  top: $sml-remaining-size * 0.5;
  text-align: center;
  font-size: $sml-remaining-size;
  font-weight: bold;
}

.photo-gallery-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
