@import "../../theme/theme-variables";

.ranking-container {
  height: 100%;
  width: 100%;
  margin: 0;
}

@mixin player-kind-icon($background-color: $white, $size: 4rem) {
  background-color: $background-color;
  display: block;
  width: $size; height: $size;
  background-size: $size $size;
  border-radius: 50% 50% 0 0;
}

.photographer-container {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  .photographer-icon {
    @include player-kind-icon();
  }
  .photographer-list {
    overflow: scroll;
    background-color: $white;
    .photographer {
      display: flex;
      justify-content: space-between;
    }
  }
}

.subject-container {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  .subject-icon {
    @include player-kind-icon();
    align-self: flex-end;
  }
  .subject-list {
    overflow: scroll;
    background-color: $white;
  }
  .subject {
    display: flex;
    justify-content: space-between;
  }
}

.media {
  background-color: $white;
  font-size: 1.3rem;
  padding: 1rem;
  img {
    height: 7rem;
    width: 7rem;
  }
}

.featured-photo-container {
  padding-top: 4rem;
}
