@import "../../theme/theme-variables";

.ranking-container {
  height: 100%;
  width: 100%;
  margin: 0;
}

@mixin player-container($url) {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: white url($url) no-repeat center;
  background-size: contain;

  .list-group-item {
    background-color: rgba(0, 0, 0, 0);
  }
}

.photographer-container {
  @include player-container("assets/camera_icon.png");
}

.subject-container {
  @include player-container("assets/subject_icon.png");
}

.featured-photo-container {
  padding-top: 4rem;
}

.player-list {
  overflow: hidden;

  &.scrollable-ranking {
    overflow: scroll;
    padding: 1rem;
  }
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;

  .player-name {
    font-size: 2.6rem;
  }

  .score {
    font-size: 2rem;
  }
}

