<div class="ranking-container row">
  <div class="photographer-container col-6">
    <h3 translate>Photographer</h3>
    <div class="media" *ngFor="let photographer of (photographers|async)">
      <img class="mr-3" src="https://placehold.jp/3d4070/ffffff/640x640.png?text=なんかアイコン">
      <div class="media-body">
        <h5 class="mt-0">{{photographer.name}}</h5>
        count: 100
      </div>
    </div>
  </div>
  <div class="subject-container col-6">
    <h3 translate>Subject</h3>
    <div class="media" *ngFor="let subject of (subjects|async)">
     <img class="mr-3" src="https://placehold.jp/3d4070/ffffff/640x640.png?text=写真">
     <div class="media-body">
       <h5 class="mt-0">{{subject.name}}</h5>
       count: 100
     </div>
    </div>
   </div>
</div>

