@import "../../theme/theme-variables";

.ranking-container {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

@mixin player-kind-icon($background-color: $white, $size: 4rem) {
  background-color: $background-color;
  display: block;
  width: $size; height: $size;
  background-size: $size $size;
  border-radius: 50% 50% 0 0;
}

.photographer-container {
  height: 100%;
  .photographer-icon {
    @include player-kind-icon();
  }
}

.subject-container {
  height: 100%;
  .subject-icon {
    @include player-kind-icon();
  }
}
.media {
  background-color: $white;
  font-size: 1.3rem;
  padding: 1rem;

  img {
    height: 7rem;
    width: 7rem;
  }
}
